@using GettingData.Models
@model List<Products>

@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
else
{
    <ul>
        <h2>Seçilen Kategordeki Ürünler</h2>
        @foreach (Products item in Model)
        {
        <li>@item.productName</li>
        }
    </ul>
    
   
}
