

<h1 style="text-align:center ;font-size:x-large">Kullanıcı Ekleme Sayfası</h1>

<form method="post">
    <label for="FirstName">Kullanıcı Adı</label><br />
    <input type="text" id="FirstName" placeholder="Adınız" name="FirstName" /> <br />
    <label for="SurName">Soyadınız</label><br />
    <input type="text" id="LastName" placeholder="Soyadınız" name="LastName" /> <br />
    <input type="submit" value="Kullanıcı Ekle"/>
</form>